<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1"/>
  <style>

  </style>
  <title><Ameer-Blog></title>
  </head>
  <body>
<h4><u>Maulana Abul Kalam Azad</u></h4><p>
  "We must not for a moment forget, it is a birthright of every individual to receive at least the basic education without which he cannot fully discharge his duties as a citizen.”
  <img src="../refferences/APJ.jpg" alt="Maulana Abul Kalam Azad">
</p>
<h4><u>Nelson Mandela</u></h4>
<p> "Education is the most powerful weapon which you can use change the world"
  <img src="../refferences/nelsonmandela.jpg" alt="Nelson Mandela">
</p>
<h4><u>Albert Einstein </u></h4>
<p> "Education is not the laerning of facts, but the training of the mind to Think"
  <img src="../refferences/albert.jpg" alt="Albert Einstein">
</p>
<h4><u>Dr APJ Abdul Kalam </u></h4>
<p>"Some of the brightest minds in the country can be found on the Last Benches of the classroom"
  <img src="../refferences/APJ.jpg" alt="Dr APJ Abdul Kalam ">
</p>
<h4><u>Malala Yousafzai </u></h4>
<p>" One child , <br> One teacher, <br> Onebook , <br> One pen <br> can change the world
  <img src="../refferences/malala.jpg" alt="Malala Yousafzai">
</p>
</body>
